pkgbase = prosody
	pkgdesc = Lightweight and extensible Jabber/XMPP server written in Lua
	pkgver = 0.11.9
	pkgrel = 1
	epoch = 1
	url = https://prosody.im/
	install = prosody.install
	arch = x86_64
	license = MIT
	depends = lua52
	depends = lua52-socket
	depends = lua52-expat
	depends = lua52-filesystem
	depends = libidn
	depends = openssl
	optdepends = lua52-sec: TLS encryption support
	optdepends = lua52-dbi: SQL storage support
	provides = prosody
	conflicts = prosody
	backup = etc/prosody/prosody.cfg.lua
	source = https://prosody.im/downloads/source/prosody-0.11.9.tar.gz
	source = https://prosody.im/downloads/source/prosody-0.11.9.tar.gz.asc
	source = prosody.tmpfile.d
	source = prosody.logrotated
	source = sysuser.conf
	source = prosody.service
	validpgpkeys = 32A9EDDE3609931EB98CEAC315907E8E7BDD6BFE
	validpgpkeys = 3E52119EF853C59678DBBF6BADED9A77B67AD329
	validpgpkeys = C01A477A8F69E6E57F5C54CDE7AB958013F1F1D5
	sha256sums = ccc032aea49d858635fb93644db276de6812be83073a8d80e9b4508095deff09
	sha256sums = SKIP
	sha256sums = 0753bd9260f1cfdce6e18e01a61e320b396acfe9fca8ccf3250653bfa6af997e
	sha256sums = 5a2466b73bd069fb73be97a4e23b24e4c8dd1adb7db871cb8f5ab4094c1f967f
	sha256sums = e5c30ffbb066f0ed3444475b3313490c535d8c9df018726f6cecf9e3ddfd2e48
	sha256sums = ea34a3802e9a6b181cc1039eda48538fc9335c432223b225a8801d9d636f268c

pkgname = prosody

