chroot
*~
*.kate-swp
pkg
src/**/*.gz
src/**/*.xz
src/**/*.log
aur
broke
.SRCINFO
build_single_nofail.sh
.git-nosub
ppa.cfg

src/doom-wads/*.WAD

# ignore all
*

# except new PKGBUILDS
!.gitignore
!src/*/PKGBUILD

